* {
  box-sizing: border-box;
}

html, body {
  color: #444444;
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

header.app-header {
  align-content: center;
  align-items: stretch;
  background: #3f51b5;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 2px 9px 1px rgba(0, 0, 0, 0.12),
  0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  font-size: 20px;
  height: 56px;
  justify-content: flex-start;
  padding: 16px 16px 0 16px;
  position: fixed;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  z-index: 1;
}

header.app-header button {
  cursor: pointer;
  height: 24px;
  border: none;
  margin-right: 16px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -99999px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 24px;
}

header.app-header h1 {
  flex-grow: 1;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.loader {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader .spinner {
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  box-sizing: border-box;
  stroke: #673ab7;
  stroke-width: 3px;
  transform-origin: 50%;
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0deg);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(450deg);
  }
}

main {
  padding-top: 60px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
